server:
  port: 8092

spring:
  webflux:
    base-path: /consumer-api
  r2dbc:
    url: r2dbc:pool:postgresql://localhost:5432/postgres
    username: postgres
    password: password
  flyway:
    url: jdbc:postgresql://localhost:5432/postgres
    user: postgres
    password: password
  application.name: consumer-api
  cloud:
    stream:
#      default:
#        consumer:
#          useNativeEncoding: true
      function:
        definition: saveEvent
      bindings:
        saveEvent-in-0:
          destination: iot-data
          group: iot-data-consumer
          content-type: application/json
      kafka.binder:
        brokers:
          - localhost:9092
        consumer-properties:
          client.id: consumer-api
          key.deserializer: org.apache.kafka.common.serialization.LongDeserializer
          value.deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
          spring.json.trusted.packages: '*'
logging:
  level:
    root: INFO
    br.com.iot: DEBUG
  pattern:
    console: '%highlight(<<%-5level>>) %d{dd-MM-yy HH:mm:ss.SSS} [%thread] %cyan(%c{0}.%M) - %msg%n'